## Numbers

In [2]:
my_number = 12345

In [3]:
type(my_number)

int

In [7]:
my_float = 3.14
print(type(my_float))
print(my_float)

<class 'float'>
3.14

In [8]:
15 + 5

20

In [9]:
14 - 3

11

In [10]:
15 + 3.3

18.3

In [11]:
15.0 + 2

17.0

In [12]:
6 * 3.0

18.0

In [13]:
6 / 5

1.2

In [14]:
6 / 3

2.0

In [15]:
6 // 5

1

In [16]:
8 % 2

0

In [17]:
5 % 3

2

### Another way to look at modulo

In [20]:
whole_part = int(5 / 3)
decimal_part = 5 / 3 - whole_part
print(decimal_part)

0.6666666666666667

In [22]:
whole_remainder = decimal_part * 3
print(whole_remainder)

2.0

In [23]:
2 ** 3

8

In [25]:
4 ** 0.5

2.0

In [26]:
int(3.45)

3

In [27]:
float(14)

14.0

In [32]:
round(3.99999, 2)

4.0

In [30]:
print(type(round(3.1415)))

<class 'int'>

In [33]:
import math

In [34]:
print(math.floor(3.99999))

3

In [35]:
2 + 3 * 4

14

In [36]:
(2 + 3) * 4

20

In [37]:
0.1 * 3

0.30000000000000004

In [38]:
from decimal import Decimal

In [40]:
Decimal('0.1') * 3

Decimal('0.3')

In [66]:
import random
random.randint(0, 99)

77

## Strings

In [71]:
my_string = 'my text is "important"'
print(my_string)

my text is "important"

In [73]:
long_string = '''
 ###
 text
    example
'''
print(long_string)

 ###
 text
    example

In [77]:
my_number = 42
my_number = str(my_number)
print(type(my_number))

<class 'str'>

In [86]:
print(my_string)
print(my_string[2])
print(len(my_string[2]))

my text is "important"

1

In [84]:
len(my_string[-1])

1

Slice
<str>[<start>:stop:<step>]

In [87]:
my_string[1:4]

'y t'

In [88]:
my_string[:4]

'my t'

In [89]:
my_string[1:]

'y text is "important"'

In [93]:
my_string[::-1]

'"tnatropmi" si txet ym'

In [96]:
my_string.split()

['my', 'text', 'is', '"important"']

In [97]:
animals = ["cat", "dog", "horse"]

In [100]:
", ".join(animals)

'cat, dog, horse'

In [101]:
for item in my_string:
    print(item)

m
y

t
e
x
t

i
s

"
i
m
p
o
r
t
a
n
t
"

### fstrings

In [103]:
name = "Kemal"
age = 33
print(f"My name is {name} and my age is {age}.")

My name is Kemal and my age is 33.

In [104]:
import datetime

In [105]:
today = datetime.datetime.today()
print(today)

2023-11-26 13:45:08.518615

In [111]:
print(f"{today:%d %B %Y}")

26 November 2023

## Boolean

In [112]:
bool(1)

True

In [113]:
bool(0)

False

In [116]:
my_variable = 0
if my_variable:
    print("yes it is true")
else:
    print("no it is false")

no it is false

In [115]:
my_variable is True

False