### Boolean operators

and, or, not

In [8]:
result = 1 and 0
bool(result)

False

In [11]:
True or False

True

In [15]:
print(not True and False)
print(not (True and False))

False
True

In [16]:
1 == True

True

In [17]:
0 == True

False

In [26]:
first_number = 10
second_number = 5

In [27]:
if first_number > second_number:
    print(f"{first_number} is greater than {second_number}")

10 is greater than 5

In [31]:
first_number = 10
second_number = 10

In [29]:
if first_number > second_number:
    print(f"{first_number} is greater than {second_number}")
else:
    print(f"{second_number} is greater than {first_number}")

15 is greater than 10

In [32]:
if first_number > second_number:
    print(f"{first_number} is greater than {second_number}")
elif first_number == second_number:
    print(f"{first_number} is equal with {second_number}")
else:
    print(f"{second_number} is greater than {first_number}")

10 is equal with 10

In [33]:
test_score = 80
age = 18
# age between 16-18, score 80 or above, intern-driver
# age above 18, score score 80 or above, driver
# age between 16-18, score 60-80, supervised-intern-driver
# age above 18, score score 60-80, supervised-driver

def driver_status(age, test_score):
    if test_score >= 80:
        if 18 > age >= 16:
            return "intern-driver"
        elif age >= 18:
            return "driver"
    elif 80 > test_score >= 60:
        if 18 > age >= 16:
            return "supervised-intern-driver"
        elif age >= 18:
            return "supervised-driver"
    return "Unlicenced"

In [34]:
driver_status(age, test_score)

'driver'

In [35]:
def buzz_func(number):
    return "Buzz!" if number % 2 == 0 else str(number)

In [38]:
my_number = 11

In [39]:
buzz_func(my_number)

'11'

### String methods

In [48]:
test_string = "Ada Lovelace Academy had started!"

In [49]:
test_string.lower()

'ada lovelace academy had started!'

In [50]:
test_string.strip("!")

'Ada Lovelace Academy had started'

In [51]:
test_string.endswith('!')

True

In [52]:
test_string.replace('!', '.')

'Ada Lovelace Academy had started.'

In [53]:
print(test_string)

Ada Lovelace Academy had started!

### Comparisons

In [55]:
15 != 10

True

In [56]:
"Ada" == "Lovelace"

False

In [62]:
15 is not my_number

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
/tmp/ipykernel_7304/4010171800.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  15 is not my_number

True

In [65]:
my_list = [1, 2, 3]
print(3 not in my_list)
print(1 in my_list)

False
True

### List

In [66]:
empty_list = []
print(empty_list)

[]

In [68]:
example_list = [1, "string", [1, 2, 3]]
print(example_list)

[1, 'string', [1, 2, 3]]

In [71]:
test_list = list()
print(test_list)

[]

In [77]:
example_list = list("string")
literal_list = ["string"]
print(example_list)
print(literal_list)

['s', 't', 'r', 'i', 'n', 'g']
['string']

In [83]:
example_list = [1, "academy", [1, 2, 3]]
example_list[0]

1

In [80]:
example_list[-1]

[1, 2, 3]

In [84]:
example_list[:2]

[1, 'academy']

In [85]:
colors = ["yellow", "green", "red", "blue", "purple"]

for color in colors:
    print(color)

yellow
green
red
blue
purple

In [88]:
for index, color in enumerate(colors):
    print(f"{index}: {color}")

0: yellow
1: green
2: red
3: blue
4: purple

In [90]:
cubes_to_1000 = []

# range(10)
# <list>.append(<item>)

for number in range(1, 11):
    cubes_to_1000.append(number**3)

cubes_to_1000

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [91]:
print(colors)

['yellow', 'green', 'red', 'blue', 'purple']

In [92]:
new_colors = colors
print(new_colors)

['yellow', 'green', 'red', 'blue', 'purple']

In [93]:
new_colors.append("orange")
print(new_colors)

['yellow', 'green', 'red', 'blue', 'purple', 'orange']

In [94]:
print(colors)

['yellow', 'green', 'red', 'blue', 'purple', 'orange']

In [95]:
colors.pop()

'orange'

In [96]:
print(colors)

['yellow', 'green', 'red', 'blue', 'purple']

In [97]:
newest_colors = colors.copy()
print(newest_colors)

['yellow', 'green', 'red', 'blue', 'purple']

In [98]:
newest_colors.append("black")

In [99]:
print(newest_colors)
print(colors)

['yellow', 'green', 'red', 'blue', 'purple', 'black']
['yellow', 'green', 'red', 'blue', 'purple']

In [100]:
newest_colors.insert(0, "gray")

In [101]:
print(newest_colors)

['gray', 'yellow', 'green', 'red', 'blue', 'purple', 'black']

In [102]:
# extend, add two list together

In [103]:
newest_colors.remove('yellow')

In [105]:
newest_colors.remove('cyan')

ValueError: list.remove(x): x not in list

In [ ]:
# reverse

In [114]:
colors = ["yellow", "green", "red", "blue", "purple"]
colors.sort(reverse=True)
colors

['yellow', 'red', 'purple', 'green', 'blue']

In [115]:
colors.index("red")

1

### Tuples & Dictionaries

In [116]:
my_tuple = tuple()

In [117]:
my_tuple = tuple([10])

In [118]:
print(my_tuple)

(10,)

In [119]:
my_tuple = tuple("Lovelace")
print(my_tuple)

('L', 'o', 'v', 'e', 'l', 'a', 'c', 'e')

In [120]:
my_tuple = tuple([10, "Ada", "Lovelace", 11])
print(my_tuple)

(10, 'Ada', 'Lovelace', 11)

In [131]:
# dictionary
animal_colors = {
    "cat": "yellow",
    "dog": "black",
    "horse": "brown"
}

In [122]:
animal_colors_tuple = tuple(animal_colors)
print(animal_colors_tuple)

('cat', 'dog', 'horse')

In [123]:
animal_colors_tuple_2 = tuple(animal_colors.items())
print(animal_colors_tuple_2)

(('cat', 'yellow'), ('dog', 'black'), ('horse', 'brown'))

In [127]:
my_new_tuple = ("ada",)
print(type(my_new_tuple))

<class 'tuple'>

In [128]:
my_new_tuple = "ada", "lovelace"
print(my_new_tuple)

('ada', 'lovelace')

In [129]:
my_new_tuple[0]

'ada'

In [130]:
animals = dict([('cat', 'yellow'), ('dog', 'black'), ('horse', 'brown')])
print(animals)

{'cat': 'yellow', 'dog': 'black', 'horse': 'brown'}

In [133]:
# dictionary
animals = {
    "cat": {
        "color": "yellow",
        "weight": "5.1"
    },
    "dog": "black",
    "horse": "brown"
}

In [135]:
animals["dog"]

'black'

In [136]:
animals["dolphin"]

KeyError: 'dolphin'

In [137]:
animals["cat"]["color"]

'yellow'

In [138]:
animals.get("cat")

{'color': 'yellow', 'weight': '5.1'}

In [139]:
animals.get("bear")

In [140]:
animals["bear"] = "brown"

In [141]:
print(animals)

{'cat': {'color': 'yellow', 'weight': '5.1'}, 'dog': 'black', 'horse': 'brown', 'bear': 'brown'}

In [143]:
animals.pop("horse")

'brown'

In [ ]:
# del

In [144]:
animal_colors = {
    "cat": "yellow",
    "dog": "black",
    "horse": "brown"
}

In [145]:
for animal, color in animal_colors.items():
    print(f"{animal} is {color}")

cat is yellow
dog is black
horse is brown

### Sets

In [ ]:
# sets are mutable
# frozensets are immutable

# iteration
# membership (in, not in)
# len()
# copy()

In [ ]:
## sets do not support!:
### indexing
### ordering, sorting
### slicing
### concat +

In [154]:
my_set = {"ada"}

In [155]:
print(type(my_set))
print(my_set)

<class 'set'>
{'ada'}

In [156]:
my_set = {"ada", "lovelace", "marry", "albert", "ada"}
print(my_set)

{'albert', 'ada', 'marry', 'lovelace'}

In [161]:
animal_colors = {
    "cat": "yellow",
    "dog": "black",
    "horse": "brown",
    "bear": "brown"
}

animal_set = set(animal_colors.values())
print(animal_set)

{'yellow', 'brown', 'black'}

In [164]:
numbers = [1, 1, 1, 2, 2, 2, 3, 4, 4, 5, 15]

calculated_numbers_set = {number**2 for number in numbers if number % 3 == 0}

In [165]:
print(calculated_numbers_set)

{9, 225}

In [166]:
calculated_numbers_list = [number**2 for number in numbers if number % 3 == 0]

In [167]:
print(calculated_numbers_list)

[9, 225]

In [168]:
def calculate_numbers(my_number):
    my_list = []
    for number in numbers:
        value = number**2
        if value % 3 == 0:
            my_list.append(value)         
    return set(my_list)

In [169]:
print(calculate_numbers(numbers))

{9, 225}

In [170]:
elements_string = set("lovelace")

In [171]:
print(elements_string)

{'o', 'v', 'e', 'l', 'c', 'a'}

In [172]:
birds = {'crow','sparrow','eagle','chicken', 'albatross'}

In [173]:
animals = {'chicken': 'white',
           'sparrow': 'grey',
           'eagle': 'brown and white',
           'albatross': 'grey and white',
           'crow': 'black',
           'elephant': 'grey', 
           'dog': 'rust',
           'cow': 'black and white',
           'tiger': 'orange and black',
           'cat': 'grey',
           'squirrel': 'black'}

In [174]:
birds.isdisjoint(animals)

False

In [175]:
birds.issubset(animals)

True

In [177]:
set(animals).issuperset(birds)

True